.header {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #ddd;
}

.left-section {
    width: fit-content;
}

#logo {
    width: 90px;
}


.right-section {
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.middle-section {
    min-width: 295px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2px;
}

#flights-icon, #deals-icon {
    margin-right: 2px;
    height: 19px;
    vertical-align: middle;
}

#stays-icon {
    margin-right: 2px;
    height: 21px;
    vertical-align: middle;
}


.middle-button {
    font-size: 16px;
    background-color: white;
    color: #ff7f50;
    font-weight: bold;
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.15s, color 0.15s;

    display: inline;
    align-content: center;
    vertical-align: middle;
}

.middle-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.middle-button:active {
    box-shadow: 0 0 0 2px #ff7f50;
}

.login-button {
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #ff7f50;
    font-weight: bold;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.15s, color 0.15s;

    display: inline;
    align-content: center;
    vertical-align: middle;
}

.middle-button a {
    color: white;
}

@media (max-width: 600px) {
    .middle-section {
        margin-top: 150px;
        margin-right: 70px;
        margin-left: 0px;
    }
}